In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_encoded_95 = pd.read_csv("../data/encoded_dataset/encoded_partial_df.csv")
df_5 = pd.read_csv("../data/streaming_dataset/to_be_encoded.csv")

In [5]:
df_encoded_95.head(2)

,transaction_id,timestamp,customer_id,stock_ticker,quantity,average_trade_size,day_name,is_weekend,is_holiday,stock_liquidity_tier,...,stock_sector_Healthcare,stock_sector_Technology,stock_industry_Asset Management,stock_industry_Hardware,stock_industry_Oil & Gas,stock_industry_Pharmaceuticals,stock_industry_Renewables,stock_industry_Retail,stock_industry_Software,stock_industry_Utilities
0,1,2023-01-02,4747,1,15,2.708050,0,0,0,Low,...,False,False,False,False,False,False,False,True,False,False
1,2,2023-01-02,4747,3,68,3.725693,0,0,0,Low,...,False,False,True,False,False,False,False,False,False,False

In [4]:
len(df_encoded_95.columns)

29

In [6]:
len(df_5.columns)

16

In [7]:
df_5[df_5["transaction_id"] == 3858]

,transaction_id,timestamp,customer_id,stock_ticker,transaction_type,quantity,average_trade_size,customer_account_type,day_name,is_weekend,is_holiday,stock_liquidity_tier,stock_sector,stock_industry,stock_price,total_trade_amount
83,3858,2023-10-06,4,STK008,BUY,417,5.495528,Retail,Friday,False,False,High,Energy,Oil & Gas,126.658642,52816.653801

In [8]:
df_5.head(2)

,transaction_id,timestamp,customer_id,stock_ticker,transaction_type,quantity,average_trade_size,customer_account_type,day_name,is_weekend,is_holiday,stock_liquidity_tier,stock_sector,stock_industry,stock_price,total_trade_amount
0,6253,2024-03-14,1006,STK006,BUY,477,5.820083,Retail,Thursday,False,False,High,Energy,Oil & Gas,71.652430,34178.209019
1,4685,2023-12-04,4955,STK006,SELL,137,5.336528,Retail,Monday,False,False,High,Energy,Oil & Gas,94.439581,12938.222656

In [9]:
df_5[df_5["is_holiday"] == True]

,transaction_id,timestamp,customer_id,stock_ticker,transaction_type,quantity,average_trade_size,customer_account_type,day_name,is_weekend,is_holiday,stock_liquidity_tier,stock_sector,stock_industry,stock_price,total_trade_amount
9,440,2023-01-30,182,STK009,BUY,19,5.906887,Retail,Monday,False,True,High,Technology,Hardware,377.454388,7171.633379
53,8128,2024-07-29,1903,STK006,BUY,386,5.010635,Retail,Monday,False,True,High,Energy,Oil & Gas,48.198249,18604.524011
86,3306,2023-08-29,3588,STK006,SELL,63,5.189060,Retail,Tuesday,False,True,High,Energy,Oil & Gas,114.654684,7223.245079
253,6600,2024-04-08,3933,STK009,BUY,1746,7.165107,Retail,Monday,False,True,High,Technology,Hardware,381.156224,665498.767953
301,1409,2023-04-11,3853,STK012,BUY,70,4.994980,Retail,Tuesday,False,True,High,Technology,Hardware,21.127944,1478.956093
307,6604,2024-04-08,653,STK012,BUY,191,5.313206,Retail,Monday,False,True,High,Technology,Hardware,14.428907,2755.921315
313,6596,2024-04-08,4955,STK006,BUY,218,5.323303,Retail,Monday,False,True,High,Energy,Oil & Gas,62.908316,13714.012887
344,8135,2024-07-29,1270,STK009,BUY,147,4.990433,Retail,Monday,False,True,High,Technology,Hardware,377.454388,55485.795089
383,3313,2023-08-29,2409,STK009,BUY,1353,7.210080,Retail,Tuesday,False,True,High,Technology,Hardware,317.476370,429545.528712
411,4368,2023-11-13,4747,STK009,BUY,75,5.300714,Retail,Monday,False,True,High,Technology,Hardware,327.029169,24527.187705
424,9644,2024-11-13,4747,STK019,BUY,40,5.319198,Retail,Wednesday,False,True,Mid,Energy,Oil & Gas,41.073867,1642.954671