In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_daily_trade_prices = pd.read_csv("../data/initial_datasets/daily_trade_prices.csv")
df_customers = pd.read_csv("../data/initial_datasets/dim_customer.csv")
df_date = pd.read_csv("../data/initial_datasets/dim_date.csv")
df_stock = pd.read_csv("../data/initial_datasets/dim_stock.csv")
df_trade = pd.read_csv("../data/initial_datasets/trades.csv")

df_daily_trade_prices_cleaned = pd.read_csv("../data/cleaned_datasets/daily_trade_prices.csv")
df_customers_cleaned = pd.read_csv("../data/cleaned_datasets/dim_customer.csv")
df_date_cleaned = pd.read_csv("../data/cleaned_datasets/dim_date.csv")
df_stock_cleaned = pd.read_csv("../data/cleaned_datasets/dim_stock.csv")
df_trade_cleaned = pd.read_csv("../data/cleaned_datasets/trades.csv")

df_merged = pd.read_csv("../data/merged_dataset/merged_dataset.csv")

In [4]:
df_daily_trade_prices.head(5)

,date,STK001,STK002,STK003,STK004,STK005,STK006,STK007,STK008,STK009,...,STK011,STK012,STK013,STK014,STK015,STK016,STK017,STK018,STK019,STK020
0,2023-01-02,130.215257,143.732847,10.829021,41.721087,145.478750,136.613229,193.549026,154.597180,190.646814,...,66.629920,30.019335,158.546534,132.388352,19.155342,78.409589,191.791965,105.076218,92.218536,96.962925
1,2023-01-03,127.931982,141.811103,10.840378,42.372205,150.451171,131.081439,189.433498,156.245870,188.642260,...,67.403967,NaN,157.962636,132.316777,19.495879,81.278706,196.519348,105.143629,93.324523,NaN
2,2023-01-04,126.531338,139.814796,10.824561,43.273956,150.121855,132.287593,185.192571,153.568772,199.054913,...,65.541600,28.336211,157.022235,128.554686,19.489534,79.565899,195.192089,106.084249,93.996184,96.034921
3,2023-01-05,127.837687,140.885311,10.874388,43.307331,154.264000,127.534322,189.023341,155.642891,NaN,...,66.558603,27.706730,154.660460,120.788272,18.989024,83.375297,193.497711,104.311590,92.687024,96.281810
4,2023-01-06,127.140842,143.103993,11.212466,46.389494,151.434469,125.356736,185.290655,155.942939,203.068155,...,67.339732,27.283299,159.619771,112.131796,18.700643,80.443424,189.787155,109.664184,88.463448,97.103757

In [5]:
df_daily_trade_prices_cleaned.head(5)

,date,STK001,STK002,STK003,STK004,STK005,STK006,STK007,STK008,STK009,...,STK011,STK012,STK013,STK014,STK015,STK016,STK017,STK018,STK019,STK020
0,2023-01-02,1.582927,143.732847,10.829021,41.721087,145.478750,136.613229,193.549026,154.597180,190.646814,...,66.629920,30.019335,158.546534,132.388352,19.155342,78.409589,191.791965,105.076218,92.218536,96.962925
1,2023-01-03,1.579288,141.811103,10.840378,42.372205,150.451171,131.081439,189.433498,156.245870,188.642260,...,67.403967,12.273066,157.962636,132.316777,19.495879,81.278706,196.519348,105.143629,93.324523,58.308000
2,2023-01-04,1.577016,139.814796,10.824561,43.273956,150.121855,132.287593,185.192571,153.568772,199.054913,...,65.541600,28.336211,157.022235,128.554686,19.489534,79.565899,195.192089,106.084249,93.996184,96.034921
3,2023-01-05,1.579136,140.885311,10.874388,43.307331,154.264000,127.534322,189.023341,155.642891,377.454388,...,66.558603,27.706730,154.660460,120.788272,18.989024,83.375297,193.497711,104.311590,92.687024,96.281810
4,2023-01-06,1.578008,143.103993,11.212466,46.389494,151.434469,125.356736,185.290655,155.942939,203.068155,...,67.339732,27.283299,159.619771,112.131796,18.700643,80.443424,189.787155,109.664184,88.463448,97.103757

In [6]:
df_merged.head()

,transaction_id,timestamp,customer_id,stock_ticker,transaction_type,quantity,average_trade_size,customer_account_type,day_name,is_weekend,is_holiday,stock_liquidity_tier,stock_sector,stock_industry,stock_price,total_trade_amount
0,1,2023-01-02,4747,STK002,BUY,15,2.708050,Retail,Monday,False,False,Low,Consumer,Retail,143.732847,2155.992711
1,2,2023-01-02,4747,STK004,BUY,68,3.725693,Retail,Monday,False,False,Low,Finance,Asset Management,41.721087,2837.033907
2,3,2023-01-02,227,STK006,BUY,49,3.891820,Retail,Monday,False,False,High,Energy,Oil & Gas,136.613229,6694.048200
3,4,2023-01-02,4747,STK006,BUY,503,5.274690,Retail,Monday,False,False,High,Energy,Oil & Gas,136.613229,68716.453976
4,5,2023-01-02,3938,STK006,BUY,203,5.313206,Retail,Monday,False,False,High,Energy,Oil & Gas,136.613229,27732.485402

In [7]:
df_merged.iloc[500]

transaction_id                    501
timestamp                  2023-02-02
customer_id                       637
stock_ticker                   STK006
transaction_type                  BUY
quantity                          118
average_trade_size           4.615121
customer_account_type          Retail
day_name                     Thursday
is_weekend                      False
is_holiday                      False
stock_liquidity_tier             High
stock_sector                   Energy
stock_industry              Oil & Gas
stock_price                135.177327
total_trade_amount       15950.924565
Name: 500, dtype: object