In [48]:
import pandas as pd
df_daily_trade_prices = pd.read_csv("../data/initial_datasets/daily_trade_prices.csv")

In [49]:
stream = pd.read_csv("../data/streaming_dataset/to_be_streamed.csv")
encoded_data = pd.read_csv("../data/encoded_dataset/encoded_partial_df.csv")
og_data = pd.read_csv("../data/merged_dataset/merged_dataset.csv")
final_data = pd.read_csv("../data/streaming_dataset/full_stocks.csv")

# 1) Test number of rows and columns

In [50]:
len(stream.columns)

16

In [51]:
len(encoded_data.columns)

29

In [52]:
len(final_data.columns)

29

In [53]:
len(stream)

500

In [54]:
len(encoded_data)

9500

In [55]:
len(final_data)

10000

# 2) Test first 9500 row of final data vs encoded data

test 1

In [57]:
og_data.head(2)

,transaction_id,timestamp,customer_id,stock_ticker,transaction_type,quantity,average_trade_size,customer_account_type,day_name,is_weekend,is_holiday,stock_liquidity_tier,stock_sector,stock_industry,stock_price,total_trade_amount
0,1,2023-01-02,4747,STK002,BUY,15,2.708050,Retail,Monday,False,False,Low,Consumer,Retail,143.732847,2155.992711
1,2,2023-01-02,4747,STK004,BUY,68,3.725693,Retail,Monday,False,False,Low,Finance,Asset Management,41.721087,2837.033907

In [58]:
encoded_data.head(2)

,transaction_id,timestamp,customer_id,stock_ticker,quantity,average_trade_size,day_name,is_weekend,is_holiday,stock_liquidity_tier,...,stock_sector_Healthcare,stock_sector_Technology,stock_industry_Asset Management,stock_industry_Hardware,stock_industry_Oil & Gas,stock_industry_Pharmaceuticals,stock_industry_Renewables,stock_industry_Retail,stock_industry_Software,stock_industry_Utilities
0,1,2023-01-02,4747,1,15,2.708050,0,0,0,Low,...,False,False,False,False,False,False,False,True,False,False
1,2,2023-01-02,4747,3,68,3.725693,0,0,0,Low,...,False,False,True,False,False,False,False,False,False,False

In [61]:
final_data.head(2)

,transaction_id,timestamp,customer_id,stock_ticker,quantity,average_trade_size,day_name,is_weekend,is_holiday,stock_liquidity_tier,...,stock_sector_Healthcare,stock_sector_Technology,stock_industry_Asset Management,stock_industry_Hardware,stock_industry_Oil & Gas,stock_industry_Pharmaceuticals,stock_industry_Renewables,stock_industry_Retail,stock_industry_Software,stock_industry_Utilities
0,1,2023-01-02,4747,1,15,2.708050,0,0,0,Low,...,False,False,False,False,False,False,False,True,False,False
1,2,2023-01-02,4747,3,68,3.725693,0,0,0,Low,...,False,False,True,False,False,False,False,False,False,False

test 2

In [60]:
final_data['stock_ticker'].isnull().any()

np.False_

test 3

In [62]:
og_data.iloc[500]

transaction_id                    501
timestamp                  2023-02-02
customer_id                       637
stock_ticker                   STK006
transaction_type                  BUY
quantity                          118
average_trade_size           4.615121
customer_account_type          Retail
day_name                     Thursday
is_weekend                      False
is_holiday                      False
stock_liquidity_tier             High
stock_sector                   Energy
stock_industry              Oil & Gas
stock_price                135.177327
total_trade_amount       15950.924565
Name: 500, dtype: object

In [63]:
final_data[final_data["transaction_id"] == 501]

,transaction_id,timestamp,customer_id,stock_ticker,quantity,average_trade_size,day_name,is_weekend,is_holiday,stock_liquidity_tier,...,stock_sector_Healthcare,stock_sector_Technology,stock_industry_Asset Management,stock_industry_Hardware,stock_industry_Oil & Gas,stock_industry_Pharmaceuticals,stock_industry_Renewables,stock_industry_Retail,stock_industry_Software,stock_industry_Utilities
9927,501,2023-02-02,637,5,118,4.615121,3,0,0,High,...,False,False,False,False,True,False,False,False,False,False

# 3) Test of last 500 rows of final data vs stream data

test 1

In [64]:
final_data[final_data["transaction_id"] == 3858]

,transaction_id,timestamp,customer_id,stock_ticker,quantity,average_trade_size,day_name,is_weekend,is_holiday,stock_liquidity_tier,...,stock_sector_Healthcare,stock_sector_Technology,stock_industry_Asset Management,stock_industry_Hardware,stock_industry_Oil & Gas,stock_industry_Pharmaceuticals,stock_industry_Renewables,stock_industry_Retail,stock_industry_Software,stock_industry_Utilities
9583,3858,2023-10-06,4,7,417,5.495528,4,0,0,High,...,False,False,False,False,True,False,False,False,False,False

In [65]:
stream[stream["transaction_id"] == 3858]

,transaction_id,timestamp,customer_id,stock_ticker,transaction_type,quantity,average_trade_size,customer_account_type,day_name,is_weekend,is_holiday,stock_liquidity_tier,stock_sector,stock_industry,stock_price,total_trade_amount
83,3858,2023-10-06,4,STK008,BUY,417,5.495528,Retail,Friday,False,False,High,Energy,Oil & Gas,126.658642,52816.653801

test 2

In [66]:
final_data.iloc[9500]

transaction_id                                 6253
timestamp                                2024-03-14
customer_id                                    1006
stock_ticker                                      5
quantity                                        477
average_trade_size                         5.820083
day_name                                          3
is_weekend                                        0
is_holiday                                        0
stock_liquidity_tier                           High
stock_price                                71.65243
total_trade_amount                     34178.209019
transaction_type_BUY                           True
transaction_type_SELL                         False
customer_account_type_Institutional           False
customer_account_type_Retail                   True
stock_sector_Consumer                         False
stock_sector_Energy                            True
stock_sector_Finance                          False
stock_sector_Healthcare                       False
stock_sector_Technology                       False
stock_industry_Asset Management               False
stock_industry_Hardware                       False
stock_industry_Oil & Gas                       True
stock_industry_Pharmaceuticals                False
stock_industry_Renewables                     False
stock_industry_Retail                         False
stock_industry_Software                       False
stock_industry_Utilities                      False
Name: 9500, dtype: object

In [67]:
stream.head(2)

,transaction_id,timestamp,customer_id,stock_ticker,transaction_type,quantity,average_trade_size,customer_account_type,day_name,is_weekend,is_holiday,stock_liquidity_tier,stock_sector,stock_industry,stock_price,total_trade_amount
0,6253,2024-03-14,1006,STK006,BUY,477,5.820083,Retail,Thursday,False,False,High,Energy,Oil & Gas,71.652430,34178.209019
1,4685,2023-12-04,4955,STK006,SELL,137,5.336528,Retail,Monday,False,False,High,Energy,Oil & Gas,94.439581,12938.222656

test 3

In [68]:
stream[stream["is_holiday"] == True]

,transaction_id,timestamp,customer_id,stock_ticker,transaction_type,quantity,average_trade_size,customer_account_type,day_name,is_weekend,is_holiday,stock_liquidity_tier,stock_sector,stock_industry,stock_price,total_trade_amount
9,440,2023-01-30,182,STK009,BUY,19,5.906887,Retail,Monday,False,True,High,Technology,Hardware,377.454388,7171.633379
53,8128,2024-07-29,1903,STK006,BUY,386,5.010635,Retail,Monday,False,True,High,Energy,Oil & Gas,48.198249,18604.524011
86,3306,2023-08-29,3588,STK006,SELL,63,5.189060,Retail,Tuesday,False,True,High,Energy,Oil & Gas,114.654684,7223.245079
253,6600,2024-04-08,3933,STK009,BUY,1746,7.165107,Retail,Monday,False,True,High,Technology,Hardware,381.156224,665498.767953
301,1409,2023-04-11,3853,STK012,BUY,70,4.994980,Retail,Tuesday,False,True,High,Technology,Hardware,21.127944,1478.956093
307,6604,2024-04-08,653,STK012,BUY,191,5.313206,Retail,Monday,False,True,High,Technology,Hardware,14.428907,2755.921315
313,6596,2024-04-08,4955,STK006,BUY,218,5.323303,Retail,Monday,False,True,High,Energy,Oil & Gas,62.908316,13714.012887
344,8135,2024-07-29,1270,STK009,BUY,147,4.990433,Retail,Monday,False,True,High,Technology,Hardware,377.454388,55485.795089
383,3313,2023-08-29,2409,STK009,BUY,1353,7.210080,Retail,Tuesday,False,True,High,Technology,Hardware,317.476370,429545.528712
411,4368,2023-11-13,4747,STK009,BUY,75,5.300714,Retail,Monday,False,True,High,Technology,Hardware,327.029169,24527.187705
424,9644,2024-11-13,4747,STK019,BUY,40,5.319198,Retail,Wednesday,False,True,Mid,Energy,Oil & Gas,41.073867,1642.954671

In [69]:
final_data[final_data["transaction_id"] == 440]

,transaction_id,timestamp,customer_id,stock_ticker,quantity,average_trade_size,day_name,is_weekend,is_holiday,stock_liquidity_tier,...,stock_sector_Healthcare,stock_sector_Technology,stock_industry_Asset Management,stock_industry_Hardware,stock_industry_Oil & Gas,stock_industry_Pharmaceuticals,stock_industry_Renewables,stock_industry_Retail,stock_industry_Software,stock_industry_Utilities
9509,440,2023-01-30,182,8,19,5.906887,0,0,1,High,...,False,True,False,True,False,False,False,False,False,False